/* Global styles. */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(177, 14, 14);
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 2.5rem;

}

h2 {
    font-size: 1.75rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 50%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

/* About me section styles. */

#about-me-section {
    background-color: black;
    color: white;
    display: flex;
    max-width: 100%;
    width: 75%;
    margin: 0.5rem auto;
    padding: 0.5rem;
    align-items: center;
    border-radius: 2rem;
}

#about-me {
    display: block;
    padding: 0.5rem;
    max-width: 50%;
    width: 100%;
    height: auto;
    margin: 0 auto;
    align-content: center;
} 

#about-me-photo {
    display: block;
    max-width: 30%;
    min-width: 15rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#about-me-section h2 {
    display: block;
}

/* Projects section styles. */

#projects-section {
    background-color: black;
    color: white;
    display: block;
    max-width: 100%;
    width: 75%;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border-radius: 2rem;
}

/* Technologies section styles. */

#technologies-section {
    background-color: black;
    color: white;
    display: block;
    max-width: 100%;
    width: 75%;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 2rem;
}

/* Footer styles. */

footer {
    background-color: black;
    color: white;
    display: block;
    max-width: 100%;
    width: 75%;
    height: auto;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border-radius: 2rem;
}

/* Contact page styles. */

#photo-container {
    display: block;
    max-width: 75%;
    min-width: 15rem;
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin: 1rem auto;
}

#contact-details {
    background-color: black;
    color: white;
    display: block;
    max-width: 100%;
    width: 75%;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 2rem;
}